.actions {
  min-height: 60px;
}
.description {
  margin-bottom: 0;
  transition :all .100s;
}
.description.mixed {
  color: #b90f56;
}
.description code {
  color: rgba(86, 122, 205, 1);
  background: rgba(12, 20, 39, 0.2);
  padding-left: .2em;
  padding-right: .2em;
  border-radius: 3px;
}
.converter{
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.result-container, .textarea-container {
  width: 50%;
  margin: 1rem;
  position: relative;
}
.textarea, .result{
  width: 100%;
  height: 180px;
  outline: none;
  overflow: auto;
  border: 2px solid rgba(86, 122, 205,.5);
  /* font-size: .7em; */
  font-size: calc(10px + 1vmin);
  padding: .25em .5em .3125em;
  color: rgba(255,255,255,.8);
  border-radius: .25em;
  background: rgba(12, 20, 39, 0.2);
  transition :all .100s;
}
.textarea:focus {
  border-color: #fff;
  color: #fff;
}
.result{
  border: 2px solid rgba(86, 122, 205, 0);
  background: rgba(12, 20, 39, 0);
}
/* .result{
  margin: 1rem;
  width: 50%;
  font-size: .8em;
  line-height: 1.2em;
  color: #fff;
  white-space: pre-wrap;
  overflow: auto;
  overflow-x: hidden;
} */

.copy-status {
  position: absolute;
  background-color: #567acd;
  color: #fff;
  right: 0;
  padding: .5rem;
  opacity: 0;
  transition :all .300s;
}
.copy-status.copied {
  opacity: 1;
}
button {
  border: 2px solid #ddd;
  background: transparent;
  border-radius: .25em;
  padding: .5em;
  color: #ddd;
  cursor: pointer;
  margin-right: 1rem;
  transition :all .100s;
}
button:disabled {
  color: rgba(255,255,255,.5);
  border: 2px solid rgba(255,255,255,.5);
  cursor: default;
}
button:hover {
  border-color: rgba(86, 122, 205, 0.8);
}
button:disabled:hover {
  border-color: rgba(255,255,255,.5);
}
button.selected {
  font-size: 1.2rem;
  color: #fff;
  border: 4px solid rgba(86, 122, 205, 0.8);
  background: rgba(86, 122, 205, 1);
}
button:last-child{
  margin-right: 0;
}
@media only screen and (max-width: 1024px) {
  .converter {
    width: 100%;
  }
  button{
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 640px) {
  .converter {
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .result-container, .textarea-container {
    width: 80%;
  }
}
